<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>IRCTC App Screenshots</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div class="container-fluid main_div">

        <div class="container-fluid">
            <h1>Indian Railways App</h1>
        </div>
        <br>
        <br>

        <!-- Login Screen -->
        <div class="img_box">
            <div class="container-fluid">
                <h2>Login Screen</h2>
            </div>
            <div class="container-fluid">
                <p>
                    The app starts with the login screen. You can login as admin,
                    or as the worker to input data.
                </p>
            </div>

            <div class="container-fluid">
                <hr>
            </div>

            <div class="container-fluid">
                <img src="./screenshots/Slide1.JPG" alt="Login Screen">    
            </div>
        </div>
        <!-- ============== -->
        
        <br>
        <br>

        <!-- Search Page-->
        <div class="img_box">
            <div class="container-fluid">
                <h2>Search Page</h2>
            </div>
            <div class="container-fluid">
                <p>
                    When you login as a worker, you see the search page where
                    you can search the records for a particular employee.
                </p>
            </div>
            
            <div class="container-fluid">
                <hr>
            </div>

            <div class="container-fluid">
                <img src="./screenshots/Slide4.JPG" alt="">
            </div>
            <br>
            <div class="container-fluid">
                <img src="./screenshots/Slide5.JPG" alt="">
            </div>
        </div>
        <!-- ========== -->
        <div class="img_box">
            <div class="container-fluid">
                <h3>Editing</h3>
            </div>
            <div class="container-fluid">
                <p>
                    You can edit a particular record field and then it will be
                    sent for approval.
                </p>
            </div>

            <div class="container-fluid">
                <hr>
            </div>

            <div class="container-fluid">
                <img src="./screenshots/Slide6.JPG" alt="">
            </div>
            <br>
            <div class="container-fluid">
                <img src="./screenshots/Slide7.JPG" alt="">
            </div>
        </div>
        <!-- ========== -->

        <div class="img_box">
            <div class="container-fluid">
                <h3>Printing Summary</h3>
            </div>
            <div class="container-fluid">
                <p>
                    You can print all the feedback for a particular employee
                    or you can print an individual feedback case.
                </p>
            </div>

            <div class="container-fluid">
                <hr>
            </div>

            <div class="container-fluid">
                <img src="./screenshots/Slide9.JPG" alt="">
            </div>
        </div>

        <div class="img_box">
            <div class="container-fluid">
                <h3>Printing Individual Case</h3>
            </div>

            <div class="container-fluid">
                <hr>
            </div>
            
            <div class="container-fluid">
                <img src="./screenshots/Slide8.JPG" alt="">
            </div>
        </div>


        <div class="img_box">
            <div class="container-fluid">
                <h1>Admin View</h1>
            </div>

            <div class="container-fluid">
                <p>
                    In the admin view you can see the changes made as approval
                    cards and can approve them.
                </p>
            </div>

            <div class="container-fluid">
                <hr>
            </div>
            
            <div class="container-fluid">
                <img src="./screenshots/Slide2.JPG" alt="">
            </div>
            <br>
            <div class="container-fluid">
                <img src="./screenshots/Slide3.JPG" alt="">
            </div>
        </div>

        <div class="container-fluid">
            <hr>
        </div>

        <div class="footnotes">
            <div class="container-fluid">
                <h1>Front End</h1>
                <ul>
                    <li>React.js</li>
                    <li>Material.ui</li>
                    <li>Axios</li>
                    <li>Bootstrap</li>
                </ul>
            </div>

            <div class="container-fluid">
                <h1>Backend End</h1>
                <ul>
                    <li>Express.js</li>
                    <li>Passport Local</li>
                    <li>Mongoose</li>
                </ul>
            </div>

            <div class="container-fluid">
                <h1>Database</h1>
                <ul>
                    <li>MongoDb</li>
                </ul>
            </div>
        </div>

    </div>
</body>
</html>