@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Megrim&display=swap');


.App {
  
}

.Name-Title {
  /* font-family: 'Oooh Baby', cursive; */
  font-size: 120px;
  color: #fff;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate, size 2s ease-in-out;
  /* animation: size 2s ease-in-out; */
  font-family: 'Megrim', cursive;
}

@keyframes size {
  0% {
    font-size: 100px;
  }

  100% {
    font-size: 120px;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff;
  }
  
  100% {
    text-shadow: 0 0 50px rgb(5, 141, 175), 0 0 50px rgb(5, 141, 175), 0 0 50px rgb(5, 141, 175), 0 0 50px rgb(5, 141, 175);
  }
}

.Subtext-Box {
  color: aqua;
  margin: "10px";
}